body {
  font-family: 'Lato', sans-serif !important;
}

.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
  overflow-x: hidden !important;
}

#about_primer_container {
  background-image: url(../img/about_background_image.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 300px;
  padding-bottom: 45px;
}

#about_title_primer_container {
  font-weight: 700;
  font-size: 80px;
  color: #FFFFFF;
  text-shadow: 0px 0px 5px #FFFFFF;
  padding: 0 20px 0 20px;
}
@media (max-width: 767.98px) {
  #about_title_primer_container {
    font-size: 50px;
}
#about_primer_container{
  padding-top: 120px;
}
#about_description_primer_container {
  padding: 0 20px 40px 20px!important;
}
}

#about_description_primer_container {
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  padding: 0 20px 160px 20px;
}

#about_segundo_container {
  background-color: #333333;
  padding-top: 95px;
}

.about_red_title {
  font-weight: 700;
  color: #FF1D25;
  text-shadow: 0px 0px 5px #ff1d25;
  font-size: 45px;
  letter-spacing: 10px;
  padding: 0 20px 0 20px;
}

#about_description_segundo_container {
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  padding: 0 20px 80px 20px;
}

#about_overlay {
  position: relative;
  margin-top: -80px;
}

#about_overlay_image {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
}

#about_tercer_container {
  background-image: url(../img/about_tercer_container_fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

#about_subtitulo_tercer_container {
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  text-shadow: 0px 0px 5px #FFFFFF;
  letter-spacing: 5px;
  padding-bottom: 70px;
}

.about_tercer_container_titulo_persona {
  font-weight: 700;
  color: #FF1D25;
  text-shadow: 0px 0px 5px #ff1d25;
  font-size: 17px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.about_tercer_container_subtitulo_persona {
  font-weight: 900i;
  color: white;
  text-shadow: 0px 0px 5px #ffffff;
  font-size: 11px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-bottom: 50px;
}

#about_hector_cerrado {
  background-color: #333333;
  border-radius: 40px;
  padding: 55px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
}

#about_hector_cerrado:hover {
  cursor: pointer;
}

#about_hector_abierto {
  background-color: #333333;
  border-radius: 0 40px 40px 0;
  padding: 55px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
  margin-left: -40px;
}

#about_adrian_cerrado {
  background-color: #333333;
  border-radius: 40px;
  padding: 55px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
}

#about_adrian_cerrado:hover {
  cursor: pointer;
}

#about_adrian_abierto {
  background-color: #333333;
  border-radius: 0 40px 40px 0;
  padding: 55px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
  margin-left: -40px;
}

#about_hector_texto {
  font-weight: 300;
  color: white;
  font-size: 17px;
  text-align: left !important;
}

#about_adrian_texto {
  font-weight: 300;
  color: white;
  font-size: 17px;
  text-align: left !important;
}

.texto_invisible_hector {
  display: none;
}

.texto_visible_hector {
  display: block;
}

.texto_invisible_adrian {
  display: none;
}

.texto_visible_adrian {
  display: block;
}

#about_footer_container {
  padding-bottom: 350px;
  background-color: #1A1A1A;
}

#mid_height {
  height: 50%;
}
#about_hector_mobil{
  display: none;
  background-color: #333333;
padding:25px;
margin-bottom:30px;
}
#about_adrian_mobil{
  display: none;
  background-color: #333333;
  padding:25px;
  margin-bottom:10px;
}

@media (max-width: 767.98px) {
  #about_adrian_mobil{
    display: block!important;
  }
  #about_hector_mobil{
    display: block!important;
  }
  #about_hector_cerrado{
    display: none!important;
  }
  #about_hector_abierto{
    display: none!important;
  }
  #about_adrian_cerrado{
    display: none!important;
  }
  #about_adrian_abierto{
    display: none!important;
  }
  #about_hector_texto{
    font-size: 15px;
  }
  #about_adrian_texto{
    font-size: 15px;
  }
}

/*------------------------ FOOTER CSS ------------------------*/

#footer_container {
  height: 330px;
  background-color: #1A1A1A;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 56px;
  padding-right: 56px;
}

#footer_contenido {
  border-style: solid;
  border-width: 2px;
  border-color: #ff1d25;
  width: 100%;
  padding-left: 63px;
  padding-right: 63px;
  padding-top: 25px;
  padding-bottom: 63px;
}

.footer_link {
  display: inline-block;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 0px 12px #ffffff;
  transition: 0.5s;
}

.footer_link:hover {
  text-decoration: none;
  color: #ff1d25;
  text-shadow: 0px 0px 5px #ff1d25;
}

.footer_link img {
  padding-bottom: 4px;
}

#footer_contacto {
  width: 100%;
  height: 52px;
  margin-top: 2%;
}

#footer_contacto_1, #footer_contacto_2, #footer_contacto_3 {
  display: inline-block;
  position: relative;
}

#footer_contacto_2 {
  margin-right: 90px;
}

.footer_contacto_titulo {
  display: block;
  position: relative;
  color: #ff1d25;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 5px;
}

.footer_contacto_info {
  display: inline-block;
  position: relative;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 5px;
}

.footer_fb, .footer_inst, .footer_tw, .footer_yt {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 52px;
  border-style: solid;
  border-width: 2px;
  border-radius: 52px;
  border-color: #ff1d25;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 15px;
  transition: .3s;
}

.footer_fb:hover, .footer_inst:hover, .footer_tw:hover, .footer_yt:hover {
  background-color: #ff1d25;
}

.footer_fb {
  background-image: url('../img/fb2.png');
}

.footer_fb:hover {
  background-image: url('../img/fb3.png');
}

.footer_tw {
  background-image: url('../img/tw2.png');
}

.footer_tw:hover {
  background-image: url('../img/tw3.png');
}

.footer_inst {
  background-image: url('../img/inst2.png');
}

.footer_inst:hover {
  background-image: url('../img/inst3.png');
}

.footer_yt {
  background-image: url('../img/yt2.png');
}

.footer_yt:hover {
  background-image: url('../img/yt3.png');
}

@media (max-width: 991.98px) {
  /* FOOTER */
  #footer_links {
    display: none;
  }
  .footer_fb, .footer_inst, .footer_tw, .footer_yt {
    width: 50px;
    height: 50px;
    border-style: solid;
    border-width: 2px;
    border-radius: 60px;
    border-color: #ff1d25;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 7.5px;
    transition: .3s;
  }
  #footer_container {
    height: 200px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 28px;
    padding-right: 28px;
  }
  #footer_contenido {
    width: 100%;
    padding-left: 31.5px;
    padding-right: 31.5px;
    padding-top: 13.5px;
    padding-bottom: 13.5px;
  }
  #footer_contacto_1, #footer_contacto_2, #footer_contacto_3 {
    width: 100%;
    display: block;
    position: relative;
  }
  #footer_contacto_2 {
    margin-right: 0px;
    width: 100%;
  }
  #footer_contacto_3 {
    display: none;
  }
  #footer_contacto {
    flex-wrap: wrap;
    text-align: center;
  }
}

/*----------------- HEADER CSS -----------------*/

#header_header {
  display: block;
  width: 100%;
  padding-top: 1.2%;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 1.2%;
  height: 80px;
}

#navbarNavAltMarkup {
  float: right;
  padding-top: 18px;
}

.header_link {
  display: inline-block;
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  margin-right: 40px;
  margin-left: 2.5px;
  text-shadow: 0px 0px 15px #ffffff;
  transition: 0.5s;
}

.header_login {
  text-decoration: none;
  font-weight: 300;
  color: #ff1d25;
  border-style: solid;
  border-width: 1px;
  border-color: #ff1d25;
  width: 94px;
  transform: skew(-10deg);
  background-color: rgba(255, 29, 37, 0);
  box-shadow: 0px 0px 15px #ff1d25;
  transition: 0.5s;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.header_login p {
  font-size: 15px;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  transform: skew(10deg);
  text-shadow: 0px 0px 15px #ff1d25;
}

.header_link:hover {
  text-decoration: none;
  color: #ff1d25;
  text-shadow: 0px 0px 5px #ff1d25;
}

.header_login:hover {
  background-color: rgba(255, 29, 37, 1);
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  box-shadow: 0px 0px 30px #ff1d25;
}

.header_link img {
  padding-bottom: 4px;
}

.navbar-toggler-icon {
  color: #ffffff;
}

@media (max-width: 991.98px) {
  .container-fluid {
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
  }
  #header_header {
    display: block;
    width: 100%;
    padding: 10px 0 0 0px;
    margin: 0 0 0 0;
    height: 80px;
    background-color: #1E1E1E;
  }
  #navbarNavAltMarkup {
    float: none;
    background-color: #1E1E1E;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  .navbar-brand {}
  #nav_icon {
    margin-left: 5%;
  }
  .header_link {
    width: 100%;
    margin-left: 0px;
    letter-spacing: 1px;
    border-bottom: 2px solid #131313;
  }
  .header_link img {
    margin-right: 5px;
    padding-left: 20px;
  }
  .header_login {
    font-weight: bold;
    color: #fff;
    border-width: 0px;
    width: 100%;
    transform: skew(0deg);
    background-color: #ff1d25;
    box-shadow: 0px 0px 0px #ff1d25;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  .header_login p {
    font-size: 15px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    transform: skew(00deg);
    text-shadow: 0px 0px 0px #ff1d25;
  }
}
